:root {
    --primary-color: #6e0371;
    --secondary-color: #3984C6;
    --third-color: white;
    --forth-color: #CED4DA;
    --fifth-color: #6C757D;
}

body {
    margin: 0px;
    padding: 0px;
}

/* ========================== Section Divider ========================== */

.main-blanket {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main-blanket-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55rem;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main-blanket-elements {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-weight: 700;
    font-size: 128px;
    font-family: "Dancing Script";
    text-align: right;
}

.main-logo {
    width: 512px;
    height: auto;
}

@media (max-width: 768px) {
    .main-blanket-elements {
        text-align: center;
        font-size: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-title {
        text-align: center;
    }

    .main-logo {
        width: 412px;
    }
}

/* ========================== Section Divider ========================== */

/* ========================== Section Divider ========================== */

.our-courses {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35rem;

}

.our-courses-background {

    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

.our-courses-elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-courses-title {
    color: white;
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 128px;
    font-family: "Oswald";
}



/* ========================== Section Divider ========================== */