:root {
    --primary-color: #6e0371;
    --secondary-color: #3984C6;
    --third-color: white;
    --forth-color: #CED4DA;
    --fifth-color: #6C757D;
}

body {
    margin: 0px;
    padding: 0px;
}

/* ========================== Section Divider ========================== */
.main-blanket {
    margin: 0px;
    padding: 0px;
}

.main-blanket-background {
    margin: 0px;
    padding: 0px;

}

.main-blanket-elements {

    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-weight: 700;
    font-family: "Dancing Script";
    text-align: right;
    font-size: 128px;
}

.main-logo {

    width: 512px;
    height: auto;

}


@media (max-width: 768px) {
    .main-blanket-elements {
        flex-direction: column;
    }
}

/* ========================== Section Divider ========================== */