  :root {
    /* --primary-color: #78B3CE; */
    /* --primary-color: #0e0e0e; */
    --primary-color: #3e008f;
    --primary-dark-card-color: #080808;
    --primary-color-light: #6f00ff;
    --secondary-color: #0071e3;
    --gradient-f: #3e008f;
    --gradient-s: #d13bff;
    --forth-color: #FBF8EF;
    --fifth-color: #F96E2A;
    --main-radius: 0.8rem;


  }

  body {
    background-color: var(--forth-color);
  }


  .fa-user-circle {

    font-size: 10rem;
    color: var(--primary-dark-card-color);

  }

  .first-name {
    font-family: "oswald";
    font-weight: 500;
    font-size: 2rem;
    color: var(--primary-dark-card-color);
  }

  .gmail {
    font-family: "oswald";
    font-weight: 250;
    font-size: 1.75rem;
    color: var(--primary-dark-card-color);
  }

  .profile-details {



    display: flex;
    align-items: flex-start;
    margin: 30px;
    gap: 2rem;
  }

  .info {

    display: flex;
    flex-direction: column;


  }

  .EPB {
    margin: 2rem 0;
    border-radius: var(--main-radius);
    padding: .45rem;
    font-family: "oswald";
  }

  #hidden-form {
    justify-content: flex-start;

    flex-direction: column;
    width: 80%;

    height: 40rem;

    max-width: 10rem;

  }

  label {

    font-family: "oswald";
    font-weight: 400;
  }

  input {

    border-radius: var(--main-radius);
    border: 2px solid black;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);

    gap: 3rem;
  }








  input::placeholder {


    font-size: 1rem;
    color: grey;



  }

  /* 
.progress-bar{

display: flex;
align-items: center;
justify-content: space-between;
gap: 2rem; */








  /* 
.on{

font-size: 2rem;
 
      position: relative;
      z-index: 1;
      width: 30px;
      height: 30px; */
  /* border-radius: 50%;
      background-color: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: white;
    }
.done{

    font-size: 2rem;
    color: var(--primary-dark-card-color); */

  /* 
.percentag{
    font-size: 2rem;
    color: var(--primary-dark-card-color);
} */
  .title {

    font-family: "oswald";
    text-align: center;
    color: var(--gradient-s);
    font-size: 4rem;
  }

  .tracking {

    display: flex;
    justify-content: right;
    margin-top: -13rem;
    margin-right: 2rem;
  }

  .first-course {
    width: 50%;
    max-width: 20rem;
    height: 22rem;
    border-radius: var(--main-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);

  }


  .first-course:hover {


    box-shadow: 0 0px 6px rgba(0, 0, 0, 1);
    transform: translateZ(20px);

  }

  .ph1,
  .ph2 {

    width: 100%;
    height: 40rem;
    max-width: 30rem;
    border-radius: var(--main-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(228, 220, 220);



  }

  .nnn {

    display: flex;
    justify-content: center;
    margin: 30px 0;
    gap: 5rem;




  }

  .Certificate1,
  .Certificate2 {

    width: 100%;
    height: 30rem;
    max-width: 30rem;

  }

  .btn {

    margin-top: 2rem;
    margin-left: 7rem;
    border-radius: var(--main-radius);
    width: 15rem;
    height: 2rem;
    transition: var(--primary-color) 0.3 ease;
    border-color: #080808;
    font-family: "oswald";
  }

  .btn:hover {

    transform: scale(1.03);
    background-color: var(--gradient-s);
  }

  .nnn p {

    font-family: "oswald";
    font-size: 1.3rem;
    text-align: center;

  }

  .card {

    width: 50%;
    margin: 20px auto;
    text-align: center;

    padding: 0;
  }

  .progress-card {

    text-align: center;
    font-family: "oswald";
    line-height: 1rem
  }

  h3 {

    color: var(--gradient-s);
  }

  .btn-container {

    margin-top: 2rem 0;
    margin-left: 1.5rem;
    border-radius: var(--main-radius);
    width: 15rem;
    height: 2rem;
    transition: var(--primary-color) 0.3 ease;
    border-color: #080808;
    font-family: "oswald";
  }

  .btn-container:hover {

    transform: scale(1.03);
    background-color: var(--gradient-s);
  }




  .client-details {
    font-family: "poppins";
    font-weight: 400;
    margin-left: 4rem;
    margin-top: -8rem;

  }

  .client-details p {

    line-height: 2rem;
    font-size: 2rem;
  }



  @media screen and (max-width:490px) and (min-width:320px) {


    .nnn {

      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5rem;



    }

    .btn {

      margin-top: -25rem;
      margin-left: 3rem;
      border-radius: var(--main-radius);
      width: 12rem;
      height: 2rem;
    }

    .Certificate1,
    .Certificate2 {
      width: 100%;
      height: 20rem;
      /* max-width: 30rem;} */
    }

    .nnn p {

      font-size: 1.2rem;

    }


    .first-course {

      min-width: 17rem;
    }

    .client-details {
      font-weight: 400;
      margin-left: 4rem;
      margin-top: 0rem;

    }

    .ph1,
    .ph2 {

      height: 30rem;
    }



    .fa-user-circle {

      font-size: 6rem;
    }

    .first-name {
      font-size: 1rem;
    }

    .gmail {
      font-size: 1rem
    }


    .EPB {
      margin: 2rem 0;
      padding: 0.2rem;

    }


    .tracking {

      display: flex;
      margin-top: 3rem;
      margin-right: 1rem;
    }


    .btn-container {
      margin-left: 0.5rem;
      width: 15rem;
      height: 2rem;
    }


    .client-details p {

      line-height: 1rem;
      font-size: 1rem;
    }


  }

  @media screen and (width:768px)and (min-width: 500px) {

    .nnn {

      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5rem;
      margin-left: 9rem;

    }


    .first-course {

      max-width: 15rem;

    }




    .fa-user-circle {

      font-size: 8rem;
    }

    .first-name {
      font-size: 1.5rem;
    }

    .gmail {
      font-size: 1.5rem
    }

    .btn-container {
      margin-left: 0.4rem;
      width: 13rem;
      height: 2rem;
    }
  }

  @media screen and (max-width:1130) and (min-width:769) {




    .nnn {

      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5rem;
      margin-left: 9rem;



    }

    .ph1,
    .ph2 {

      width: 100%;
      height: 50rem;
      max-width: 20rem;


    }

    .btn {
      margin-left: 6rem;
    }


  }