.fa-user-circle{

font-size: 10rem;

}
.first-name{
font-family: "oswald";
font-weight: 500;
font-size: 2rem;
}
.gmail{
font-family: "oswald";
font-weight: 250;
font-size: 1.75rem;
}
.profile-details{



display: flex;
align-items: flex-start;
margin: 30px;
gap: 2rem;
}

.info{

display: flex;
flex-direction: column;


}
.EPB{
margin: 2rem 0;
border-radius: var(--main-radius);

}


#hidden-form{
justify-content: flex-start;

flex-direction: column;
width: 80%;

height: 40rem;

max-width: 10rem;

}

label{

    font-family: "oswald";
    font-weight: 400;
}
input{

border-radius: var(--main-radius);

border: 2px solid black;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);

gap: 3rem;
}








input::placeholder{


font-size: 1rem;
color: grey;



}

.progress-bar{

display: flex;
align-items: center;
justify-content: space-between;
gap: 2rem;

}

.on{

font-size: 2rem;

}

.done{

    font-size: 2rem;
}

.percentag{
    font-size: 2rem;
}
