/* =============================NAVBAR========================== */

:root {
    /* --primary-color: #78B3CE; */
    /* --primary-color: #0e0e0e; */
    --primary-color: #3e008f;
    --primary-dark-card-color: #080808;
    --primary-color-light: #6f00ff;
    --secondary-color: #0071e3;
    --gradient-f: #3e008f;
    --gradient-s: #d13bff;
    --forth-color: #FBF8EF;
    --fifth-color: #F96E2A;
    --main-radius: 0.8rem;
}

.navbar {
    border: solid 0.03rem rgba(188, 72, 255, 0.11);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 200;
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: rgba(62, 0, 143, 0.9);
    border-radius: var(--main-radius);
    margin: 2rem auto 0;
    width: 85%;
    height: 4rem;
    font-size: large;
    box-shadow: 0 0 16px -5px rgba(27, 0, 36, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

.navdiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo {
    margin-right: auto;
}

.logo a {
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.3rem;
}

.navlist {
    height: 100%;
    gap: 2rem;
    position: absolute;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.navlist a {
    transition: background-color 0.3s ease;
    align-self: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-weight: 400;
    width: auto;
    padding: 1rem;
    height: 1rem;
    text-decoration: none;
    border-radius: 10px;

}

.navlist li {
    /* margin-right: 1.5rem;
    margin-left: 1.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.navlist li a:hover {
    color: white;
    background-color: var(--primary-color-light);
}

.navbar button {
    transition: color 0.3s ease, background-color 0.3s ease;
    font-family: "Oswald", sans-serif;
    background-color: white;
    color: black;
    border-radius: var(--main-radius);
    border: none;
    width: 7rem;
    height: 2.625rem;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

.navbar .loginbtn {
    align-self: right;
    margin-left: auto;
    transition: transform 0.2s ease, border-radius 0.2s ease;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.navbar .loginbtn:hover {

    transform: scale(1.04);
    border-radius: 5px;

}

.dropdown {
    background-color: rgba(62, 0, 143, 0.9);
    top: 4rem;
    left: -3.1rem;
    border: solid 0.03rem rgba(188, 72, 255, 0.11);
    box-shadow: 0 0 16px -5px rgba(27, 0, 36, 0.3);
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 11.25rem;
    margin: 0px;
    padding: 0px;
    list-style: none;
    z-index: 0;
}

.navlist li:hover .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.dropdown li {
    margin: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown li a {

    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* white-space: normal; */
}

.dropdown li a :hover {
    background-color: var(--primary-color-light);
}

html {
    /* scroll-behavior: smooth; */
}

.mobnav {
    display: none;
}

/*======================*/


@media screen and (max-width:768px) {

    .navbar {
        width: 100% !important;
        left: 0 !important;
        transform: none !important;
        margin: 0 !important;
        border-radius: 0 !important;
        /* background-color: #1c1c1c !important;  */
    }

    .logo {
        justify-content: center;
    }


    .mobnav {
        display: block;
        position: fixed;
        top: 1rem;
        right: 0;
        z-index: 9999;
        background-color: white;
        border-radius: 30%;
        border: none;
        font-size: 1.5rem;
        padding: 0 0;
        cursor: pointer;
    }

    #loginbtn {
        all: unset;
        display: block;
        background-color: white;
        color: black;
        font-weight: bold;
        font-family: "Oswald", sans-serif;
        padding: 0.6rem 1.5rem;
        border-radius: 999px;
        width: fit-content;
        margin: 1rem auto 2rem auto;
        border: 2px solid var(--primary-color);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        order: 99;
        cursor: pointer;
        text-align: center;
    }

    .navlist {
        flex-direction: column;
        /* position: fixed; */
        position: absolute;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: rgba(62, 0, 143, 0.95);
        padding-top: 5rem;
        transition: right 0.3s ease-in-out;
        z-index: 200;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 0.1rem !important;
    }

    .navlist a {
        display: flex;
        height: 100%;
        align-items: center;
        color: lavender;
        font-family: "Poppins",sans-serif;
        font-size: small;
        font-weight: 600;
        width: auto;
        padding: 0;
        gap: 0;
    }

    .navlist li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .navlist li a:hover {
        background-color: var(--primary-color-light);
    }
    
    .navbar button {
        transition: color 0.3 ease, background-color 0.3 ease;
    }

    .navlist.open {
        right: 0;
        display: flex;
    }


/* 
    .dropdown { */
        /* display: none; */
        /* flex-direction: column; */
        /* position: static; */
        /* box-shadow: none; */
        /* background-color: transparent; */
        /* position: absolute;
        background-color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        top: 100%;
        left: 0;
        z-index: 999;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    } */

    .dropdown {
     display: none;
     position: static;
     flex-direction: column;
     background-color: white;
     padding: 0.5rem 1rem;
     border-radius: 0.5rem;
    }

    
   .dropdown.open {
    display: flex;
   }


/* 
    .navlist li { */
        /* margin: 0.2rem 0 !important;
        text-align: center !important; */
        /* margin: 0 !important; */
        /* padding: 0.2rem 0.5rem !important;
        position: relative !important;
        display: block !important;
    } */

    /* .navlist li:hover .dropdown {
     display: block;
    } */

    /* button {
        color: white;
        background-color: #F96E2A;
        box-shadow: 0;
        border-radius: 0px;
        border-color: none;
        padding: 0.5rem;
        width: 5rem;
        height: 2rem;
        font-weight: bolder;
        display: block;
        margin-top: 1rem;
        cursor: pointer;
        font-family: "Oswald, sans-serif";
    } */

    .navdiv {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 40%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

    }

    html,
    body {
        overflow-x: hidden;
    }




}



@media (max-width: 1130px) {
    .navbar {



        /* border: solid 0.03rem var(--primary-color);
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 200;
        background-color: var(--primary-color);
        border-radius: var(--main-radius);
        margin: 0.5rem auto 0;
        width: 85%;
        height: clamp(1.8rem, 4vh, 4rem);
        font-size: medium;
        box-shadow: 0 0 16px -5px var(--primary-color-light);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(10px); */

        border: solid 0.03rem rgba(188, 72, 255, 0.11);
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 200;
        /* background-color: rgba(0, 0, 0, 0.9); */
        background-color: rgba(62, 0, 143, 0.9);
        border-radius: var(--main-radius);
        margin: 2rem auto 0;
        width: 85%;
        height: 4rem;
        font-size: large;
        box-shadow: 0 0 16px -5px rgba(27, 0, 36, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .navdiv {
        /* display: flex;
        align-items: center;
        justify-content: space-between; */

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .logo {
        margin-right: auto;
    }

    .logo a {
        /* color: white;
        font-size: 1.2; */

        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 0.1rem;
    }

    .navlist {
        /* list-style: none; */

        position: absolute;
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .navlist a {
        /* color: white;
        font-family: "Oswald, sans-serif";
        font-weight: bold;
        text-decoration: none;
        font-size: 0.9rem; */

        color: white;
        font-family: "Oswald", sans-serif;
        font-size: medium;
        font-weight: 200;
        text-decoration: none;
    }

    .navlist li {
        /* display: inline-block;
        margin-right: 1rem;
        padding: 0.4rem 0.8rem;
        font-family: "Oswald, sans-serif"; */

        display: inline-block;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .navlist li :hover {
        color: white;
        /* background-color:black;
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;  */
        background-color: var(--primary-color-light);
    }

    .navbar button {
        font-family: "Oswald", sans-serif;
        background-color: white;
        color: black;
        border-radius: var(--main-radius);
        border: none;
        width: 5rem;
        height: 1.625rem;
        font-size: 1rem;
        font-weight: 400;
    }

    .dropdown {
        display: none;
        position: absolute;
        background-color: var(--primary-color);
        width: 9rem;
        ;
        list-style: none;
        /* box-shadow: 0 0.25rem 0.5rem var(--primary-color-light); */
        z-index: 100;
    }

    .navlist li:hover .dropdown {
        display: block;
        background-color: var(--primary-color);
    }

    .dropdown li {
        padding: 0.4rem 0.7rem;
        font-size: 0.8rem;
        border-top: 0.0625rem;
        width: 30;

    }

    .dropdown li a {
        color: white;
        text-decoration: none;
        display: block;
        white-space: normal;
    }

    .dropdown li a :hover {
        background-color: var(--primary-color);
    }

    html,
    body {
        overflow-x: hidden;
    }

}

/* ================================ Login ================================ */

.join {
    display: none;
    /* touch-action: none; */

}

.join .exit {
    position: absolute;

    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.2rem;
    color: var(--primary-color);
    cursor: pointer;
}

.join .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(8, 0, 19, 0.918);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.join .box-bg {
    position: relative;
    background-color: white;
    width: 60rem;
    height: 30rem;
    border-radius: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.join .join-title {
    margin: 0.2rem;
    margin-top: -0.6rem;
    margin-bottom: 12px;
    color: var(--primary-color);
    /* text-align: center; */
    align-items: center;
    font-weight: 900;

    /* font-size: clamp(1rem, 2vw, 5rem); */
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}


.join .join-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    height: 100%;
    padding: 1.5rem 3rem;

}

.join form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
}



.join .img-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.join .img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.join .horizontal-input-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 12px;
}

.join .horizontal-input-container label {
    /* position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 12px; */
}

.join input,
.join select {
    box-sizing: border-box;
    padding: 0 0.75rem;
    height: 3rem;
    width: 100%;
    font: inherit;
    font-family: "Poppins", sans-serif;
    background-color: white;
    border: 0.07rem solid var(--primary-color);
    border-radius: var(--main-radius);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    line-height: 1.5;
}





.join select:focus,
.join input:focus {
    /* border: 2px solid var(--accent-color); */
    outline: 1px solid var(--primary-color);

}

.join .input {
    position: relative;
}

.join label {
    color: var(--primary-color);
    white-space: nowrap;
    background-color: white;
    width: auto;
    position: absolute;
    padding: 0 0.2rem;
    top: -5px;
    left: 14px;
    text-align: center;
    font-family: "Poppins";
    font-size: 0.7rem;
}

.join .email {
    width: 100%;
}

.join .signinPassword {
    width: 100%;
}

.join .submit-container {
    display: flex;
    align-items: center;
    align-self: bottom;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    font-family: "Poppins";
    font-size: 0.7rem;
    margin: 0px;
    margin-top: auto;

}

.join select {
    background-image: none;
    padding-right: 1.5rem;
    width: 13.1rem;
}


.join .submit-container button {
    line-height: 0em;
    letter-spacing: 0rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;

    cursor: pointer;
    width: 12rem;
    height: 3rem;
    z-index: 0;
    transition: transform 0.2s ease;
    border-radius: var(--main-radius);
}

.join .submit-container button:hover {
    transform: scale(1.06);
}

.join .submit-container p {
    color: var(--primary-color);
}


.join .submit-container p a {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 599;
}


.join form.joinForm {
    display: flex;
}


.join form.signinForm {
    display: none;
}



/* ================================ Login ================================ */