:root {
    /* --primary-color: #78B3CE; */
    /* --primary-color: #0e0e0e; */
    --primary-color: #3e008f;
    --primary-dark-card-color: #080808;
    --primary-color-light: #6f00ff;
    --secondary-color: #0071e3;
    --gradient-f: #3e008f;
    --gradient-s: #d13bff;
    --forth-color: #FBF8EF;
    --fifth-color: #F96E2A;
    --main-radius: 0.8rem;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 2rem;
    background-color: var(--secondary-color);
}

/* .details-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
} */


.details-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/* .box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
} */

.row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.left-box {
  flex: 1;
  /* width: 45%; */
  border: 2px solid black;
  border-radius: 15px;
  /* padding: 1rem; */
  /* margin-left: 2rem;
  margin-right: auto; */
  padding: 1.5rem;
}

.right-box {
  flex: 1;
  /* width: 45%; */
  border: 2px solid black;
  border-radius: 15px;
  /* padding: 1rem; */
  /* margin-left: auto;
  margin-right: 2rem; */
  /* text-align: center; */
  padding: 1.5rem;
  text-align: left;

}

.desc {
    color: white;
    background-color: var(--primary-color-light);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--primary-color-light);
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;   
    text-align: left;             
    box-shadow: 0 0 10px var(--primary-color-light);
    font-size: 2rem;
}

/* video {
 padding: 1rem;
 margin: 1.5rem;
} */

#course-video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.details {
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  /* max-width: 600px;
  margin-left: auto;
  margin-right: 2rem; */
  text-align: left;
  border-left: 6px solid var(--secondary-color);
}

.instbox {
  /* margin-top: 3rem; */
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  /* max-width: 600px;
  margin-left: 2rem;
  margin-right: auto; */
  /* text-align: center; */
  text-align: left;

  border-left: 6px solid var(--primary-color);
}

#course-instructor-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #222;
}

#course-instructor-bio {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

