html,
body {
    margin: 0;
    padding: 0;
}

:root {
    /* --primary-color: #78B3CE; */
    /* --primary-color: #0e0e0e; */
    --primary-color: #3e008f;
    --primary-dark-card-color: #080808;
    --primary-color-light: #6f00ff;
    --secondary-color: #0071e3;
    --gradient-f: #3e008f;
    --gradient-s: #d13bff;
    --forth-color: #FBF8EF;
    --fifth-color: #F96E2A;
    --main-radius: 0.8rem;
}

.search-bar {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    position: fixed;
    z-index: 99999;
    bottom: 2rem;
}


.search-bar input::placeholder {
    transition: 0.4s ease;
    color: white;
}

.search-bar input {
    font-family: 'Poppins';
    color: white;
    width: 0;
    height: 0;
    opacity: 0;
    border: none;
    transition: 0.5s ease;
    background-color: transparent;


}

.search-bar .search-bar-circle {
    transform: scale(1);

    border: solid 0.03rem rgba(201, 109, 255, 0.425);
    box-shadow: 0 0 16px -5px rgba(27, 0, 36, 0.3);
    background-color: rgba(62, 0, 143, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);


    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 3rem;
    height: 3rem;
    border-radius: 50rem;
}

@media (min-width: 1120px) {


    .search-bar .search-bar-circle:hover {

        transform: scale(1);
        width: 24rem;
        justify-content: left;


    }

    .search-bar .search-bar-circle:hover input {

        z-index: 600;
        opacity: 1;
        color: white;

        background-color: transparent;

        width: auto;
        margin: 1rem;
        width: 100%;
        /* margin-left: auto; */
        display: flex;
        height: 70%;
        justify-content: left;


    }



    .search-bar:has(input:focus) .search-bar-circle {
        transform: scale(1.4) translateY(-2rem);
        width: 24rem;
        justify-content: left;


    }

}

.search-bar .search-bar-circle input:focus {
    outline: none;
    border: none;
    box-shadow: none;
    z-index: 600;
    opacity: 1;
    color: white;

    background-color: transparent;
    width: auto;
    margin: 1rem;
    width: 100%;
    /* margin-left: auto; */
    display: flex;
    height: 70%;
    justify-content: left;

}

.search-bar .search-bar-circle i {
    transition: 0.5s ease;


    color: white;
    margin: 1rem;
}



.search-bar-circle.wrong {

    animation: wrong 0.4s ease;

}


@keyframes wrongInput {
    0% {
        color: red !important;
    }

    60% {
        color: red;
    }

    100% {
        color: white;
    }
}

.search-bar-circle.wrong input::placeholder {
    color: red !important;
}

@keyframes wrong {
    10% {
        transform: scale(1.4) translateX(-1.4rem) translateY(-2rem);
    }

    40% {

        transform: scale(1.4) translateX(1.8rem) translateY(-2rem);

    }

    60% {

        transform: scale(1.4) translateX(-0.7rem) translateY(-2rem);

    }

    90% {
        transform: scale(1.4) translateX(-0.2rem) translateY(-2rem);

    }

    100% {
        transform: scale(1.4) translateX(0rem) translateY(-2rem);
    }
}

.right-vectors {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}


.right-vectors>* {
    transform: scale(1);
    z-index: -5;
}

.left-vectors {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
}

.left-vectors .v2 {
    position: relative;
    top: 50rem;
}

.right-vectors .v1 {
    position: relative;

    top: 15rem;
}

.right-vectors .v3 {
    position: relative;
    top: 100rem;
}

.slogan {
    width: 100%;
    height: 20REM;
    margin: 0;
    padding: 0;
    /* margin-top: 6rem; */
    padding-bottom: 3rem;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    font-family: "Poppins";
    text-align: center;
}

.slogan .slogan-p,
.divider .slogan-p {

    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 0;
}

.slogan .mini-slogan {
    margin: 0.3rem;
    font-size: 1.3rem;
}

.cards-container {
    transform-style: preserve-3d;
    perspective: 40rem;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.card {
    transition: 0.5s ease;

    /* transform: scale(1.1); */
    box-shadow: 0 3px 1rem 0 rgb(0, 0, 0, 0.35);
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: clamp(43rem, 50vw, 55rem);
    height: 23rem;
    border: 2px solid var(--primary-color);
    border-radius: var(--main-radius);
    overflow: hidden;
}

.found {
    animation: found-animation 0.8s ease;
    transition: border 0.7s ease;
}

@keyframes found-animation {
    0% {
        transform: scale(1);
        z-index: 5;

    }

    50% {
        transform: scale(1.2);

    }

    100% {
        transform: scale(1);

    }

}

@media (min-width:1120px) {
    .card:not(.searching):hover {
        transform: scale(1.2);
    }

    .card:not(.searching):hover+.card {
        filter: blur(0.1rem);
        transform: rotateX(-10deg);
    }

    .card:not(.searching):hover+.card+.card {
        filter: blur(0.2rem);
        transform: rotateX(-20deg) translateZ(-9rem);
    }

    .card:not(.searching):has(+ .card:hover) {
        filter: blur(0.1rem);
        transform: rotateX(10deg);

    }

    .card:not(.searching):has(+ .card + .card:hover) {
        filter: blur(0.2rem);
        transform: rotateX(20deg) translateZ(-9rem);

    }

}

.card.dark {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    width: clamp(43rem, 50vw, 55rem);
    height: 23rem;
    border: none;
    border-radius: var(--main-radius);
    overflow: hidden;
}

.img-container {
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 6rem;
    overflow: hidden;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 100%; */
    margin: 1.2rem;

}


.card-title {
    margin: 0.1rem;
    font-size: 2.7rem;
    font-weight: 700;
    font-family: "Poppins";
    line-height: 0.98;
}

.card.dark .card-title {
    color: white;
    margin: 0.1rem;
    font-size: 2.7rem;
    font-weight: 700;
    font-family: "Poppins";
    line-height: 0.98;
}

.card-description,
.card-description.pdesc {
    line-height: 1.2;
    margin: 0rem;
    font-size: 0.9rem;
    color: #535353;
    font-family: "Oswald";
    font-weight: 400;
}

.card.dark .card-description,
.card.dark .card-description.pdesc {
    line-height: 1.2;
    margin: 0rem;
    font-size: 0.9rem;
    color: #b8b8b8;
    font-family: "Oswald";
    font-weight: 400;
}

.card-description.pdesk {
    display: none;
}


.card-footer {
    margin: 0.2px;
    margin-top: auto;
    width: 100%;
    /* height: 20%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.card-footer .card-prop-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Oswald";
    color: #535353;

}

.card.dark .card-footer .card-prop-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Oswald";
    color: #b8b8b8;

}

.card-footer .card-prop-container>* {
    margin: 0;
}


.card-footer .card-button {
    margin-left: auto;
    color: white;
    background-color: var(--primary-color);
    border: none;
    width: 10rem;
    height: 3.2rem;
    align-items: center;
    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease;
    border-radius: var(--main-radius);
    font-family: "oswald", sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    z-index: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.card-footer .card-button:hover {
    transform: scale(1.05);
}

.card.dark .card-footer .card-button {
    margin-left: auto;
    color: var(--primary-color);
    background-color: white;
    border: none;
    width: 10rem;
    height: 3.2rem;
    align-items: center;

    transition: transform 0.2s ease;
    border-radius: var(--main-radius);
    font-family: "oswald", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    z-index: 0;
    cursor: pointer;
}

.divider {
    background-color: var(--primary-color);
    width: 100%;
    height: 14rem;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
    font-family: "Poppins";
}

@media (max-width: 786px) {

    .search-bar .search-bar-circle:hover input {

        z-index: 600;
        opacity: 1;
        color: white;

        background-color: transparent;

        width: auto;
        margin: 1rem;
        width: 100%;
        /* margin-left: auto; */
        display: flex;
        height: 70%;
        justify-content: left;


    }

    .search-bar .search-bar-circle:hover {

        /* transform: scale(1.4) translateY(-2rem); */
        transform: scale(1.2);
        width: 70vw;
        justify-content: left;
        font-size: clamp(0.1rem, 2vw, 1rem);

        /* transform: scale(1);
        width: 90vw;
        justify-content: left; */


    }

    /* 
    .search-bar:has(input:focus) .search-bar-circle {}

    .search-bar:has(input:focus) .search-bar-circle input {
        font-size: clamp(0.1rem, 2vw, 1rem);



    } */

    .slogan {
        z-index: 999;
        width: 100%;
        height: 40vh;
        margin: 0;
        padding: 0;
        /* margin-top: 6rem; */
        padding-bottom: 3rem;
        padding-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        font-family: "Poppins";
        text-align: center;
    }

    .slogan .slogan-p,
    .divider .slogan-p {
        z-index: 10;

        font-weight: 700;
        font-size: clamp(1rem, 12vw, 4rem);
        line-height: clamp(1rem, 11vw, 4.5rem);
        margin: 0;
    }

    .slogan .mini-slogan {
        z-index: 10;

        font-size: clamp(0.6rem, 7vw, 1.3rem);

        margin: 0.3rem;
        font-size: 1.3rem;
    }


    .card {
        z-index: 999;

        transition: 0.5s ease;
        /* transform: scale(1.1); */
        box-shadow: 0 3px 1rem 0 rgb(0, 0, 0, 0.35);
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: clamp(15rem, 69vw, 40rem);
        height: clamp(23rem, 60vh, 40rem);
        border: 2px solid var(--primary-color);
        border-radius: var(--main-radius);
        overflow: hidden;

    }


    .card.dark {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 1rem 0 rgb(0, 0, 0, 0.35);
        background-color: var(--primary-color);
        border: none;
        width: clamp(15rem, 69vw, 40rem);
        height: clamp(23rem, 60vh, 40rem);

    }

    .card .card-description.pdesc,
    .card.dark .card-description.pdesc {
        line-height: 1.2;
        margin: 0rem;
        font-size: clamp(0.7rem, 3.2vw, 2rem);
        font-family: "Oswald";
        font-weight: 400;
    }




    .card-description {
        display: none;
    }

    .card-description.pdesc {
        display: flex;
    }

    .card-title,
    .card.dark .card-title {
        margin: 0.5rem;
        font-size: clamp(1.4rem, 12vw, 2.3rem);
        font-weight: 700;
        font-family: "Poppins";
        line-height: 0.98;
    }

    .img-container {
        width: 100%;
        height: 50%;
        border-bottom-right-radius: 6rem;
        overflow: hidden;
    }

    .img-container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .text-container {

        display: flex;
        flex-direction: column;
        width: 90%;
        height: 50%;
        /* height: 100%; */
        margin: 0rem;
        /* margin: 0rem 2rem; */

    }

    .card-footer {
        margin: 0px;
        margin-top: auto;
        width: 100%;
        /* height: 20%; */
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }



    .card-footer .card-prop-container,
    .card.dark.card-footer .card-prop-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: clamp(0.5rem, 2.5vw, 1rem);
        font-family: "Oswald";
        color: #535353;

    }

    .card-footer .card-button,
    .card.dark .card-footer .card-button {
        margin: 0.3REM;
        color: white;
        background-color: var(--primary-color);
        border: none;
        width: clamp(3rem, 25vw, 15rem);
        height: clamp(3rem, 8vh, 5rem);

        align-items: center;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s ease;
        border-radius: var(--main-radius);
        font-family: "oswald", sans-serif;
        font-weight: 200;
        font-size: 1.4rem;
        z-index: 0;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    .card.dark .card-footer .card-button {
        color: var(--primary-color);
        background-color: white;
    }

}